@import url('https://fonts.googleapis.com/css?family=Corben:700');
/*Snow animation*/
.hero {
    background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
    min-height: 30rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

    .snow .svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {

    100% {
        transform: translateY(0);
    }
}


.skew {
    margin-top: -100px;
    padding: 200px 0;
    transform: skew(0deg, -5deg);
    background-color: #ffdfdf;
    height: 200px;
}

.content {
    text-align: center;
    transform: skew(0deg, 5deg);
    padding-top: 100px;
    padding-bottom: 100px;
}

body {
    background-color: #fbc1bc;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 0px;
}

#IntroductionHeader {
    text-align: center;
}


/*containers*/
#ReactIntro {
    position: relative;
    margin-left: 300px;
    margin-right: 50px;
    font-family: 'Nunito', sans-serif;
    border: 2px solid #315b96;
    padding: 10px;
    border-radius: 2em 1em 4em / 0.5em 3em;
    background-color: #315b96;
    width: 1000px;
    height: 350%;
}

#ReactSetUp {
    position: relative;
    margin-left: 300px;
    margin-right: 50px;
    font-family: 'Nunito', sans-serif;
    border: 2px solid #233567;
    padding: 10px;
    border-radius: 2em 1em 4em / 0.5em 3em;
    background-color: #233567;
    width: 1000px;
    height: 350%;
    top:-1095px;
}

span {
    content: "\2022";
    padding: 8px;
}

#ReactIntro ul {
    font-family: 'Nunito', sans-serif;
}
#ReactBrowser{
    width:50%;
    height:50%;
    margin-left:25%;
}
